[submodule "OMKParser.jl"]
	path = OMKParser.jl
	url = https://github.com/dev-manuel/OMKParser.jl
[submodule "MKAbsyn.jl"]
	path = MKAbsyn.jl
	url = https://github.com/dev-manuel/MKAbsyn.jl


[submodule "OM.jl"]
	path = OM.jl
	url = https://github.com/JKRT/OM.jl
[submodule "MetaModelica.jl"]
	path = MetaModelica.jl
	url = https://github.com/OpenModelica/MetaModelica.jl/
[submodule "ImmutableList.jl"]
	path = ImmutableList.jl
	url = https://github.com/OpenModelica/ImmutableList.jl/
[submodule "MKAbsynCodeGen.jl"]
	path = MKAbsynCodeGen.jl
	url = https://github.com/dev-manuel/MKAbsynCodeGen.jl
